<b>Dicionários na prática

In [39]:
d1 = {}
d2 = dict()

print(type(d1))
print(type(d2))

<class 'dict'>
<class 'dict'>

In [40]:
d1['aaa'] = 1000
d1

{'aaa': 1000}

In [41]:
d1['bbb'] = 2000
d1['ccc'] = 3000
d1

{'aaa': 1000, 'bbb': 2000, 'ccc': 3000}

In [42]:
d2 = {1.1: 'teste1', 2: 'teste2', '3':'teste3'}
d2

{1.1: 'teste1', 2: 'teste2', '3': 'teste3'}

<b> Funções dos dicionários

In [43]:
tel = {
    32325566: 'João',
    33558899: 'Maria',
    29785241: 'José',
    35698745: 'Cláudia'
}
tel

{32325566: 'João', 33558899: 'Maria', 29785241: 'José', 35698745: 'Cláudia'}

In [44]:
len(tel)

4

In [45]:
del(tel[29785241])
tel

{32325566: 'João', 33558899: 'Maria', 35698745: 'Cláudia'}

In [46]:
tel.keys()

dict_keys([32325566, 33558899, 35698745])

In [47]:
tel.values()

dict_values(['João', 'Maria', 'Cláudia'])

In [48]:
tel.get(32325566)

'João'

In [49]:
# remove e retorna o valor do dicionário
tel.popitem()

(35698745, 'Cláudia')

In [50]:
tel

{32325566: 'João', 33558899: 'Maria'}

In [52]:
print(
    32325566 in tel, # Joao
    35698745 in tel # Claudia
)

True False

In [54]:
tel2 = {
    99999999: 'André',
    99887766: 'Joana'
}
print(tel2)
tel.update(tel2)
tel

{99999999: 'André', 99887766: 'Joana'}

{32325566: 'João', 33558899: 'Maria', 99999999: 'André', 99887766: 'Joana'}

In [55]:
my_tuple = (10,10,10)
tel[my_tuple] = 'tupla'
tel

{32325566: 'João',
 33558899: 'Maria',
 99999999: 'André',
 99887766: 'Joana',
 (10, 10, 10): 'tupla'}

In [56]:
my_list = [10, 20, 30]
tel[my_list] = 'lista'

TypeError: unhashable type: 'list'